html {
    background-color: rgb(18, 18, 18);
    font-family: "Manrope", sans-serif;
}

header {
    display : flex;
    position: sticky;
    position: -webkit-sticky;
    top     : 0;
    z-index : 100;
}

.subheader-page {
    width           : 100%;
    padding-top     : 4vh;
    padding-bottom  : 5vh;
    background-color: rgb(18, 18, 18);
}

.logo {
    position : absolute;
    left     : 50%;
    transform: translateX(-50%);
}

.close {
    position: absolute;
    right   : 80px;
}

body::before {
    content         : '';
    position        : fixed;
    top             : 0;
    left            : 50%;
    width           : 1px;
    height          : 100%;
    background-color: rgb(238, 238, 238);
    z-index         : -1;
}

.c-black {
    color: rgb(111, 42, 42);
}

nav {
    margin          : 124px 32px 0px 32px;
    background-color: rgb(18, 18, 18);
}

nav ul {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
    display        : flex;
    flex-wrap      : wrap;
}

nav ul li {
    margin         : 0px 24px 8px 0px;
    position       : relative;
    align-self     : flex-end;
    justify-content: flex-start;
}

nav ul li a {
    font-size      : 4rem;
    font-weight    : 200;
    font-style     : normal;
    color          : rgb(238, 238, 238);
    text-decoration: none;
}

.contact {
    font-size: 1.5rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li:not(:last-child)::after {
    content    : '/';
    color      : white;
    margin-left: 15px;
    font-size  : 4rem;
    margin     : 0px 0px 0px 24px;
}

nav ul li:last-child::after {
    content    : '';
    color      : white;
    margin-left: 15px;
    font-size  : 4rem;
    margin     : 0px 0px 0px 24px;
}

.lineHeight {
    line-height: 2.8rem;
}

main {
    display: flex;
    margin : 128px 32px 128px 32px;
}

.title,
.content {
    color     : rgb(255, 255, 255);
    width     : 50%;
    box-sizing: border-box;
}

.content {
    padding-left: 64px;
}

.impressum {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-top   : 120px;
    padding-bottom: 10vh;
}

.imgTypo {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    margin-bottom   : 320;
    padding-top     : 32;
    padding-bottom  : 24;
    width           : 50vh;
    background-color: rgb(18, 18, 18);
}

.impressum img {
    width     : 50vh;
    max-height: auto;
}

.slogan {
    display       : flex;
    flex-wrap     : wrap;
    align-items   : baseline;
    padding-top   : 120px;
    padding-bottom: 60vh;
}

.slogan-detail {
    display    : flex;
    flex-wrap  : wrap;
    align-items: baseline;
    padding-top: 120px;
}

footer {
    position        : sticky;
    display         : flex;
    margin          : 120px 32px 0px 32px;
    background-color: rgb(18, 18, 18);
    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    box-sizing      : border-box;
    text-align      : center;
}

footer a {
    font-size  : 1rem;
    font-weight: 100;
}

footer>div {
    width           : 100%;
    margin-bottom   : 2rem;
    text-align      : left;
    display         : flex;
    flex-direction  : column;
    background-color: rgb(18, 18, 18);
    word-wrap       : break-word;
    color           : rgb(238, 238, 238);
    font-family     : "Manrope", sans-serif;
}

:root {
    font-size: 16px;
}


h1,
h2,
h3,
H4,
H5,
H6 {
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    font-style : normal;
}

p {
    font-family       : "Manrope", sans-serif;
    font-size         : 1.5rem;
    font-weight       : 100;
    font-style        : normal;
    margin-block-start: 0;
}

a {
    color      : rgb(238, 238, 238);
    
    font-size  : 1.5rem;
    font-weight: 100;
    font-style : normal;
}

h1,
.navigation-item {
    display         : inline;
    font-size       : 4rem;
    color           : rgb(238, 238, 238);
    background-color: rgb(18, 18, 18);
    padding-right   : 24px;
    margin-bottom   : 8px;
    text-decoration : none;
}

h2 {
    font-size       : 4rem;
    color           : rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    opacity         : 0;
    padding-right   : 24px;
    margin          : 0;
    margin-bottom   : 8px;
}

small {
    color          : rgb(238, 238, 238);
    font-family    : "Manrope", sans-serif;
    font-size      : 1rem;
    font-weight    : 100;
    font-style     : normal;
    text-decoration: none;
    white-space    : nowrap;
}

label {
    background-color: rgb(18, 18, 18);
    font-family     : "Manrope", sans-serif;
    font-size       : 12px;
    font-weight     : 100;
    font-style      : normal;
    text-decoration : none;
    white-space     : nowrap;
}

@media screen and (max-width: 768px) {
    html {
        padding-right: 0px;
        padding-left : 0px;
    }

    nav ul li a {
        font-size: 2.4rem;
    }

    nav ul li:not(:last-child)::after {
        font-size: 2.4rem;
    }

    nav ul li:last-child::after {
        font-size: 2.4rem;
    }

    main {
        flex-direction  : column;
        background-color: rgb(18, 18, 18);
        margin          : 120px 0px 0px 0px;
    }

    .title,
    .content {
        width     : 100%;
        box-sizing: border-box;
    }

    .title {
        padding-left: 16px;
    }

    .content {
        padding: 24px 16px 0px 16px;
    }

    .card {
        position        : relative;
        top             : 0px;
        left            : auto;
        transform       : none;
        width           : 85%;
        margin-bottom   : 160px;
        padding-bottom  : 24px;
        padding-left    : 16;
        padding-right   : 16;
        padding-top     : 8px;
        background-color: rgb(18, 18, 18);
    }

    .slogan {
        padding-top   : 100px;
        width         : 85%;
        padding-left  : 0;
        padding-right : 0;
        padding-bottom: 40vh;
    }

    .slogan-detail {
        padding-top   : 100px;
        width         : 85%;
        padding-bottom: 1vh;
    }

    footer {
        display       : flex;
        flex-direction: column;
        display       : flex;
        position      : static;
        margin        : 120px 16px 64px 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family  : "Manrope", sans-serif;
        font-weight  : 200;
        font-style   : normal;
        padding-right: 16px;
    }


    h1 {
        font-size       : 5rem;
        color           : rgb(238, 238, 238);
        background-color: rgb(18, 18, 18);
        padding-right   : 24px;
        margin-bottom   : 8px;
    }

    h2 {
        font-size       : 5rem;
        color           : rgb(0, 0, 0);
        background-color: rgb(238, 238, 238);
        opacity         : 0;
        padding-right   : 24px;
        margin          : 0;
        margin-bottom   : 8px;
    }

    a {
        color      : rgb(238, 238, 238);
        font-family: "Manrope", sans-serif;
        font-size  : 1.5rem;
        font-weight: 100;
        font-style : normal;
        white-space: nowrap;
    }

    .subheader-page {
        display         : flex;
        position        : sticky;
        top             : 0;
        background-color: rgb(18, 18, 18);
        z-index         : 9999;
        width           : 100%;
        padding-top     : 32px;
        padding-bottom  : 32px;
    }

    .close {
        position: absolute;
        right   : 32px;
    }

    .lineHeight {
        line-height: 2rem;
    }

}

@media screen and (max-width: 920px) {
    html {
        padding-right: 0px;
        padding-left : 0px;
    }

    h1,
    h2,
    h3,
    H4,
    H5,
    H6 {
        font-family  : "Manrope", sans-serif;
        font-weight  : 200;
        font-style   : normal;
        padding-right: 16px;
    }

    h1,
    .navigation-item {
        display         : inline;
        font-size       : 2.4rem;
        color           : rgb(238, 238, 238);
        background-color: rgb(18, 18, 18);
        margin-bottom   : 8px;
        text-decoration : none;
    }

    h2 {
        font-size       : 2.4rem;
        color           : rgb(0, 0, 0);
        background-color: rgb(238, 238, 238);
        opacity         : 0;
        padding-right   : 24px;
        margin          : 0;
        margin-bottom   : 8px;
    }

}