/*-------------------------------------------------- GLOBALS --------------------------------------------------*/
/*---------- GLOBAL STYLES ! ----------*/
html {
    background-color: rgb(18, 18, 18);
}

header {
    display : flex;
    position: sticky;
    position: -webkit-sticky;
    top     : 0;
    z-index : 100;
}


.content {
    position     : center;
    padding-left : 3rem;
    padding-right: 3rem;
}


/*--------------------*/
.subheader-page {
    width           : 100%;
    padding-top     : 4vh;
    padding-bottom  : 5vh;
    background-color: rgb(18, 18, 18);
}


/*--------------------*/
.logo {
    position : absolute;
    left     : 50%;
    transform: translateX(-50%);
}


/*--------------------*/
.close {
    position: absolute;
    right   : 80px;
}


/*---------- WHITE BACKGROUND LINE ! ----------*/
body::before {
    content         : '';
    position        : fixed;
    top             : 0;
    left            : 50%;
    width           : 1px;
    height          : 100%;
    background-color: rgb(238, 238, 238);
    z-index         : -1;
}


/*--------------------*/
.c-black {
    color: rgb(111, 42, 42);
}


/*--------------------*/
li {
    list-style-type: none;
    line-height    : 3rem;
}


/*--------------------*/
.lineHeight {
    line-height: 2.8rem;
}


/*-------------------------------------------------- CARDS --------------------------------------------------*/
/*--------------------*/
.card {
    position        : absolute;
    top             : 160px;
    left            : 74%;
    transform       : translateX(-50%);
    width           : 40vw;
    padding         : 0 24 0 24;
    background-color: rgb(18, 18, 18);
}

/*-------------------------------------------------- IMPRESSUM --------------------------------------------------*/
/*--------------------*/
.impressum {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-top   : 120px;
    padding-bottom: 10vh;
}


/*--------------------*/
.imgTypo {
    margin-bottom   : 320;
    padding-top     : 32;
    padding-bottom  : 24;
    width           : 50vh;
    background-color: rgb(18, 18, 18);
}


/*--------------------*/
.impressum img {
    width     : 50vh;
    max-height: auto;
}


/*-------------------------------------------------- NAVIGATION --------------------------------------------------*/
/*--------------------*/
.slogan {
    display            : flex;
    flex-wrap          : wrap;
    align-items        : baseline;
    padding-top        : 160px;
    padding-bottom     : 60vh;
    /* background-color: rgb(18, 18, 18); */
}


/*--------------------*/
.slogan-detail {
    display            : flex;
    flex-wrap          : wrap;
    align-items        : baseline;
    padding-top        : 160;
    padding-bottom     : 100vh;
    /* background-color: rgb(18, 18, 18); */
}


/*-------------------------------------------------- FOOTER --------------------------------------------------*/
/*--------------------*/
footer {
    position        : sticky;
    display         : flex;
    width           : 100%;
    bottom          : 0;
    margin          : 0;
    background-color: rgb(18, 18, 18);
}

/*--------------------*/
.footerItem {
    width           : 100%;
    margin-bottom   : 2rem;
    text-align      : left;
    display         : flex;
    flex-direction  : column;
    background-color: rgb(18, 18, 18);
    word-wrap       : break-word;
}

/*-------------------------------------------------- TYPO +750 --------------------------------------------------*/
:root {
    font-size: 16px;
}


h1,
h2,
h3,
H4,
H5,
H6 {
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    font-style : normal;
}


/*--------------------*/
/* p2{
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight:100;
  font-style: normal;
  padding-right: 16px;
  color: rgb(136, 29, 29);
  white-space: normal;
} */


/*--------------------*/
p {
    color      : rgb(255, 255, 255);
    font-family: "Manrope", sans-serif;
    font-size  : 1.5rem;
    font-weight: 100;
    font-style : normal;
}


h1,
.navigation-item {
    display         : inline;
    font-size       : 4rem;
    color           : rgb(238, 238, 238);
    background-color: rgb(18, 18, 18);
    padding-right   : 24px;
    margin-bottom   : 8px;
}

/*--------------------*/
h2 {
    font-size       : 4rem;
    color           : rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    opacity         : 0;
    padding-right   : 24px;
    margin          : 0;
    margin-bottom   : 8px;
}

/*--------------------*/
small {
    color          : rgb(238, 238, 238);
    font-family    : "Manrope", sans-serif;
    font-size      : 1rem;
    font-weight    : 100;
    font-style     : normal;
    text-decoration: none;
    white-space    : nowrap;
}


a {
    color          : rgb(238, 238, 238);
    font-family    : "Manrope", sans-serif;
    font-size      : 1.5rem;
    font-weight    : 100;
    font-style     : normal;
    text-decoration: underline;
}


/*--------------------*/
label {
    background-color: rgb(18, 18, 18);
    font-family     : "Manrope", sans-serif;
    font-size       : 12px;
    font-weight     : 100;
    font-style      : normal;
    text-decoration : none;
    white-space     : nowrap;
}




/*-------------------------------------------------- RESPONSIVE STYLES --------------------------------------------------*/
@media screen and (max-width: 768px) {
    html {
        padding-right      : 0px;
        padding-left       : 0px;
        /* background-color: rgb(119, 48, 48); */
    }


    /*--------------------*/
    .card {
        position        : relative;
        top             : 0px;
        left            : auto;
        transform       : none;
        width           : 85%;
        margin-bottom   : 160px;
        padding-bottom  : 24px;
        padding-left    : 16;
        padding-right   : 16;
        padding-top     : 8px;
        background-color: rgb(18, 18, 18);
    }


    /*--------------------*/
    .slogan {
        padding-top   : 100px;
        width         : 85%;
        padding-left  : 0;
        padding-right : 0;
        padding-bottom: 40vh;

        /* background-color: rgb(224, 39, 39); */
        /* padding-top: 24px; */
    }

    .slogan-detail {
        padding-top        : 100px;
        width              : 85%;
        padding-bottom     : 1vh;
        /* background-color: rgb(224, 39, 39); */
    }


    /*--------------------*/
    .content {
        padding-left       : 16px;
        padding-right      : 16px;
        /* background-color: rgb(43, 255, 195); */
    }

    /*--------------------*/
    footer {
        display            : flex;
        flex-direction     : column;
        display            : flex;
        position           : static;
        padding-bottom     : 0px;
        margin-bottom      : 0px;
        width              : 90%;
        /* background-color: rgb(43, 255, 195); */
    }


    /*--------------------*/
    h1,
    h2,
    h3,
    H4,
    H5,
    H6 {
        font-family  : "Manrope", sans-serif;
        font-weight  : 200;
        font-style   : normal;
        padding-right: 16px;
    }


    h1 {
        font-size       : 5rem;
        color           : rgb(238, 238, 238);
        background-color: rgb(18, 18, 18);
        padding-right   : 24px;
        margin-bottom   : 8px;
    }


    /*--------------------*/
    h2 {
        font-size       : 5rem;
        color           : rgb(0, 0, 0);
        background-color: rgb(238, 238, 238);
        opacity         : 0;
        padding-right   : 24px;
        margin          : 0;
        margin-bottom   : 8px;
    }

    s

    /*--------------------*/
    a {
        color          : rgb(238, 238, 238);
        font-family    : "Manrope", sans-serif;
        font-size      : 1.5rem;
        font-weight    : 100;
        font-style     : normal;
        text-decoration: none;
        white-space    : nowrap;
    }


    /*--------------------*/
    small {
        color      : rgb(238, 238, 238);
        font-family: "Manrope", sans-serif;

        font-weight    : 100;
        font-style     : normal;
        text-decoration: none;
        white-space    : nowrap;
    }


    /*--------------------*/
    .subheader-page {
        display         : flex;
        position        : sticky;
        top             : 0;
        background-color: rgb(18, 18, 18);
        z-index         : 9999;
        width           : 100%;
        padding-top     : 32px;
        padding-bottom  : 32px;
    }

    /*--------------------*/
    .close {
        position: absolute;
        right   : 32px;
    }


    /*--------------------*/
    .lineHeight {
        line-height: 2rem;
    }

}




/*-------------------------------------------------- RESPONSIVE STYLES --------------------------------------------------*/
@media screen and (max-width: 920px) {
    html {
        padding-right: 0px;
        padding-left : 0px;
    }


    /*--------------------*/
    h1,
    h2,
    h3,
    H4,
    H5,
    H6 {
        font-family  : "Manrope", sans-serif;
        font-weight  : 200;
        font-style   : normal;
        padding-right: 16px;
    }


    h1,
    .navigation-item {
        display         : inline;
        font-size       : 2.4rem;
        color           : rgb(238, 238, 238);
        background-color: rgb(18, 18, 18);
        margin-bottom   : 8px;
    }


    /*--------------------*/
    h2 {
        font-size       : 2.4rem;
        color           : rgb(0, 0, 0);
        background-color: rgb(238, 238, 238);
        opacity         : 0;
        padding-right   : 24px;
        margin          : 0;
        margin-bottom   : 8px;
    }

}